# 3. Load and Explore Dataset

In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('../data/raw/OnlineNewsPopularity.csv')

In [44]:
df.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593.0
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711.0
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500.0
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200.0
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505.0

In [81]:
df.tail()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
3286,http://mashable.com/2013/03/05/snowballs/,674.0,9.0,328.0,0.669753,1.0,0.841584,5.0,1.0,1.0,...,0.062500,0.5,-0.238889,-0.5000,-0.100,0.000000,0.000000,0.500000,0.000000,1700.0
3287,http://mashable.com/2013/03/05/social-tv-nba/,674.0,10.0,175.0,0.688623,1.0,0.783019,5.0,4.0,1.0,...,0.033333,0.6,-0.308333,-0.4000,-0.125,0.283333,0.266667,0.216667,0.266667,947.0
3288,http://mashable.com/2013/03/05/spike-tv-mma-app/,674.0,10.0,311.0,0.605178,1.0,0.733668,8.0,4.0,1.0,...,0.033333,0.6,-0.225000,-0.4000,-0.050,0.000000,0.000000,0.500000,0.000000,1300.0
3289,http://mashable.com/2013/03/05/spotify-backpla...,674.0,10.0,255.0,0.653386,1.0,0.777778,11.0,4.0,1.0,...,0.136364,0.5,0.000000,0.0000,0.000,0.000000,0.000000,0.500000,0.000000,506.0
3290,http://mashable.com/2013/03/05/startup-tampons/,674.0,9.0,489.0,0.545267,1.0,0.705479,7.0,1.0,1.0,...,0.100000,0.7,-0.151042,-0.1875,-0.125,0.000000,0.000000,0.500000,0.000000,2800.0

In [80]:
df.drop(df.tail(1).index,inplace=True)

In [82]:
df.shape

(3291, 61)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3291 entries, 0 to 3290
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   url                             3291 non-null   object
 1    timedelta                      3291 non-null   float64
 2    n_tokens_title                 3291 non-null   float64
 3    n_tokens_content               3291 non-null   float64
 4    n_unique_tokens                3291 non-null   float64
 5    n_non_stop_words               3291 non-null   float64
 6    n_non_stop_unique_tokens       3291 non-null   float64
 7    num_hrefs                      3291 non-null   float64
 8    num_self_hrefs                 3291 non-null   float64
 9    num_imgs                       3291 non-null   float64
 10   num_videos                     3291 non-null   float64
 11   average_token_length           3291 non-null   float64
 12   num_keywords                   3291 non-null   float64
 13   data_channel_is_lifestyle      3291 non-null   float64
 14   data_channel_is_entertainment  3291 non-null   float64
 15   data_channel_is_bus            3291 non-null   float64
 16   data_channel_is_socmed         3291 non-null   float64
 17   data_channel_is_tech           3291 non-null   float64
 18   data_channel_is_world          3291 non-null   float64
 19   kw_min_min                     3291 non-null   float64
 20   kw_max_min                     3291 non-null   float64
 21   kw_avg_min                     3291 non-null   float64
 22   kw_min_max                     3291 non-null   float64
 23   kw_max_max                     3291 non-null   float64
 24   kw_avg_max                     3291 non-null   float64
 25   kw_min_avg                     3291 non-null   float64
 26   kw_max_avg                     3291 non-null   float64
 27   kw_avg_avg                     3291 non-null   float64
 28   self_reference_min_shares      3291 non-null   float64
 29   self_reference_max_shares      3291 non-null   float64
 30   self_reference_avg_sharess     3291 non-null   float64
 31   weekday_is_monday              3291 non-null   float64
 32   weekday_is_tuesday             3291 non-null   float64
 33   weekday_is_wednesday           3291 non-null   float64
 34   weekday_is_thursday            3291 non-null   float64
 35   weekday_is_friday              3291 non-null   float64
 36   weekday_is_saturday            3291 non-null   float64
 37   weekday_is_sunday              3291 non-null   float64
 38   is_weekend                     3291 non-null   float64
 39   LDA_00                         3291 non-null   float64
 40   LDA_01                         3291 non-null   float64
 41   LDA_02                         3291 non-null   float64
 42   LDA_03                         3291 non-null   float64
 43   LDA_04                         3291 non-null   float64
 44   global_subjectivity            3291 non-null   float64
 45   global_sentiment_polarity      3291 non-null   float64
 46   global_rate_positive_words     3291 non-null   float64
 47   global_rate_negative_words     3291 non-null   float64
 48   rate_positive_words            3291 non-null   float64
 49   rate_negative_words            3291 non-null   float64
 50   avg_positive_polarity          3291 non-null   float64
 51   min_positive_polarity          3291 non-null   float64
 52   max_positive_polarity          3291 non-null   float64
 53   avg_negative_polarity          3291 non-null   float64
 54   min_negative_polarity          3291 non-null   float64
 55   max_negative_polarity          3291 non-null   float64
 56   title_subjectivity             3291 non-null   float64
 57   title_sentiment_polarity       3291 non-null   float64
 58   abs_title_subjectivity         3291 non-null   float64
 59   abs_title_sentiment_polarity   3291 non-null   float64
 60   shares                         3291 non-null   float64
dtypes: float64(60), object(1)
memory usage: 1.6+ MB

In [84]:
df.describe()

,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,num_videos,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
count,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,...,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000,3291.000000
mean,702.988757,9.813431,480.353692,0.563097,0.991492,0.706685,9.209663,3.205105,3.505014,1.392890,...,0.100833,0.771471,-0.253439,-0.482573,-0.114335,0.283469,0.097286,0.344996,0.164799,3148.386813
std,16.450909,1.933974,410.708072,0.119128,0.091860,0.121041,8.911407,4.781313,6.457216,5.543171,...,0.075345,0.229290,0.128501,0.276866,0.102396,0.327222,0.273242,0.186858,0.238667,12661.913485
min,674.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,217.000000
25%,688.000000,8.000000,220.000000,0.487826,1.000000,0.643976,4.000000,1.000000,0.000000,0.000000,...,0.050000,0.600000,-0.322222,-0.666667,-0.125000,0.000000,0.000000,0.166667,0.000000,948.500000
50%,703.000000,10.000000,345.000000,0.563319,1.000000,0.710909,6.000000,2.000000,1.000000,0.000000,...,0.100000,0.800000,-0.244807,-0.500000,-0.100000,0.125000,0.000000,0.500000,0.000000,1500.000000
75%,716.000000,11.000000,612.500000,0.636022,1.000000,0.781148,11.000000,4.000000,1.000000,1.000000,...,0.100000,1.000000,-0.177083,-0.291667,-0.050000,0.500000,0.200000,0.500000,0.250000,2700.000000
max,731.000000,18.000000,4125.000000,1.000000,1.000000,1.000000,82.000000,63.000000,99.000000,75.000000,...,0.800000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.500000,1.000000,617900.000000

# 4. Prepare Data

Create a copy of df and save it into a variable called df_cleaned

In [85]:
df_cleaned = df.copy()

Drop the column url

In [86]:
df_cleaned.drop('url', axis=1, inplace=True)

 Remove leading and trailing space from the column names

In [87]:
df_cleaned.columns = df_cleaned.columns.str.strip()

Extract the column shares and save it into variable calletarget = df_cleaned.pop('shares')d target

In [88]:
target = df_cleaned.pop('shares')

In [89]:
from sklearn.preprocessing import StandardScaler

In [90]:
scaler = StandardScaler()

In [91]:
df_cleaned = scaler.fit_transform(df_cleaned)

In [92]:
from joblib import dump

In [93]:
dump(scaler, '../models/scaler.joblib')

['../models/scaler.joblib']

Import train_test_split from sklearn.model_selection

In [94]:
from sklearn.model_selection import train_test_split

Split randomly the dataset with random_state=8 into 2 different sets: data (80%) and test (20%)

In [95]:
X_data, X_test, y_data, y_test = train_test_split (df_cleaned, target, test_size=0.2, random_state=8)

Split the remaining data (80%) randomly with random_state=8 into 2 different sets: training (80%) and validation (20%)

In [96]:
X_train, X_val, y_train, y_val = train_test_split(X_data, y_data, test_size=0.2, random_state=8)

Save the different sets in the folder data/processed

In [97]:
np.save('../data/processed/X_train', X_train)
np.save('../data/processed/X_val',   X_val)
np.save('../data/processed/X_test',  X_test)
np.save('../data/processed/y_train', y_train)
np.save('../data/processed/y_val',   y_val)
np.save('../data/processed/y_test',  y_test)

# 5. Get Baseline Model

Calculate the average of the target variable for the training set and save it into a variable called y_mean

In [98]:
y_mean = y_train.mean()

Create a numpy array called y_base of dimensions (len(y_train), 1) filled with this value

In [99]:
y_base = np.full((len(y_train), 1), y_mean)

Import the MSE and MAE metrics from sklearn

In [100]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

Display the RMSE and MAE scores of this baseline model

In [101]:
print(mse(y_train, y_base, squared=False))
print(mae(y_train, y_base))

14455.202628642608
2748.776025411728

# 6. Train ElasticNet model

Import the ElasticNet module from sklearn

In [102]:
from sklearn.linear_model import ElasticNet

instantiate the ElasticNet class into a variable called reg

In [103]:
reg = ElasticNet()

Fit the model with the prepared data

In [104]:
reg.fit(X_train, y_train)

ElasticNet()

Save the fitted model into the folder models as a file called linearelasticnet_default_reg.joblib

In [105]:
dump(reg,  '../models/elasticnet_default.joblib')

['../models/elasticnet_default.joblib']

Save the predictions from this model for the training and validation sets into 2 variables called y_train_preds and y_val_preds

In [106]:
y_train_preds = reg.predict(X_train)
y_val_preds = reg.predict(X_val)

Display the RMSE and MAE scores of this model on the training set

In [107]:
print(mse(y_train, y_train_preds, squared=False))
print(mae(y_train, y_train_preds))

14227.22643902199
2770.0178361392896

Display the RMSE and MAE scores of this model on the validation set

In [108]:
print(mse(y_val, y_val_preds, squared=False))
print(mae(y_val, y_val_preds))

4187.350172079278
2425.5074247346956